<header>
    <div class="flex items-center justify-between p-4">
        <div class="w-full ">
            <a href="{{ routes.root_url }}"
               class="inline-flex flex-col gap-1 outline-none  outline-none focus:ring-2 rounded-lg p-2 ring-black/50">
        <span class="text-4xl font-normal font-inter leading-none lowercase tracking-tight">
          {{ 'general.header.brand_name' | t }}
        </span>
                <span class="text-lg pl-px text-black/50 font-inter leading-none lowercase tracking-tight">
          {{ 'general.header.brand_tagline' | t }}
        </span>
            </a>
        </div>
        <div class=" flex items-center gap-3 mr-4">
            {% if shop.customer_accounts_enabled and section.settings.show_account_link %}
                <a href="{{ routes.account_url }}"
                   class="text-black/50 hover:text-black/75 transition-all relative outline-none focus:ring-2 ring-black/50 rounded-lg p-1">
                    {% render 'icon-user', class: 'size-7' %}
                </a>
            {% endif %}
            {% if section.settings.show_cart_link %}
                <a href="{{ routes.cart_url }}"
                   class="text-black/50 hover:text-black/75 transition-all relative outline-none focus:ring-2 ring-black/50 rounded-lg p-1">
                    {% if cart.item_count > 0 %}
                        <sup class="absolute -top-1 -right-1 bg-red-600 text-white text-xs rounded-full w-5 h-5 flex items-center justify-center font-semibold">
                            {{ cart.item_count }}
                        </sup>
                    {% endif %}
                    {% render 'icon-cart', class: 'size-7', count: cart.item_count %}
                </a>
            {% endif %}
        </div>
    </div>
</header>

{% schema %}
{
  "name": "Header",
  "tag": "section",
  "class": "section-header",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_account_link",
      "label": "Show Account Link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart_link",
      "label": "Show Cart Link",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}

